@using System.Diagnostics.Eventing.Reader
@using PagedList.Mvc
@model Deputies.BLL.Features.Inquiries.Models.InquriesListModel

@{
    ViewBag.Title = "Усі запити";
}

<div class="row" style="margin-top: 20px;">
    <div id="filter-form" class="col-md-2">
        <div class="form-group">
            <button style="width: 100%" id="filter-submit" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span> Фільтрувати</button>
        </div>

        <div class="list-group">
            <a id="session" class="list-group-item">
                <h4 class="list-group-item-heading" style="cursor: pointer;" data-toggle="collapse" data-target="#sessionBlock" for="inputDefault">Сесія ВР</h4>
                <div id="sessionBlock" class="collapse">
                    @for (var i = 0; i < Model.FilterModel.Sessions.Count; i++)
                    {
                        <div class="checkbox">
                            <label>
                                @Html.HiddenFor(m => m.FilterModel.Sessions[i].Id, new { @Value = Model.FilterModel.Sessions[i].Id })
                                @Html.CheckBoxFor(m => m.FilterModel.Sessions[i].Checked, new { @checked = Model.FilterModel.Sessions[i].Checked }) @Model.FilterModel.Sessions[i].Label
                            </label>
                        </div>
                    }
                </div>
            </a>
            <a id="status" class="list-group-item">
                <h4 class="list-group-item-heading" style="cursor: pointer;" data-toggle="collapse" data-target="#doneProcBlock" for="inputDefault">Статус</h4>
                <div id="doneProcBlock" class="collapse">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.FilterModel.Done, new { @checked = Model.FilterModel.Done }) Виконано
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.FilterModel.Proc, new { @checked = Model.FilterModel.Proc }) Розглядається
                        </label>
                    </div>
                </div>
            </a>
            <a id="type" class="list-group-item">
                <h4 class="list-group-item-heading" style="cursor: pointer;" data-toggle="collapse" data-target="#typeBlock" for="inputDefault">Тип запиту</h4>
                <div id="typeBlock" class="collapse">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.FilterModel.Ind, new { @checked = Model.FilterModel.Ind }) Індивідуальний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.FilterModel.Col, new { @checked = Model.FilterModel.Col }) Колективний
                        </label>
                    </div>
                </div>
            </a>
            <a id="fraction" class="list-group-item">
                <h4 class="list-group-item-heading" style="cursor: pointer;" data-toggle="collapse" data-target="#fractionBlock" for="inputDefault">Фракція</h4>
                <div id="fractionBlock" class="collapse">
                    @for (var i = 0; i < Model.FilterModel.Fractions.Count; i++)
                    {
                        <div class="checkbox">
                            <label>
                                @Html.HiddenFor(m => m.FilterModel.Fractions[i].Id, new { @Value = Model.FilterModel.Fractions[i].Id })
                                @Html.CheckBoxFor(m => m.FilterModel.Fractions[i].Checked, new { @checked = Model.FilterModel.Fractions[i].Checked }) @Model.FilterModel.Fractions[i].Label
                            </label>
                        </div>
                    }
                </div>
            </a>
            <a id="problem" class="list-group-item">
                <h4 class="list-group-item-heading" style="cursor: pointer;" data-toggle="collapse" data-target="#problemBlock" for="inputDefault">Проблематика</h4>
                <div id="problemBlock" class="collapse">
                    @for (var i = 0; i < Model.FilterModel.Problems.Count; i++)
                    {
                        <div class="checkbox">
                            <label>
                                @Html.HiddenFor(m => m.FilterModel.Problems[i].Id, new { @Value = Model.FilterModel.Problems[i].Id })
                                @Html.CheckBoxFor(m => m.FilterModel.Problems[i].Checked, new { @checked = Model.FilterModel.Problems[i].Checked }) @Model.FilterModel.Problems[i].Label
                            </label>
                        </div>
                    }
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-10 clearfix">
        <div class="clearfix">
            <div class="row">
                <div class="col-xs-6 clearfix">
                    <div id="sort" class="pull-left">Сортування: <a href="@(Model.Asc ? @Url.Action("Inquries", "Home", new {asc = false}) : @Url.Action("Inquries", "Home", new {asc = true}))">Дата <span class="glyphicon  @(Model.Asc ? "glyphicon-chevron-up" : "glyphicon-chevron-down")" aria-hidden="true"></span></a></div>
                </div>
                <div class="col-xs-6 clearfix">
                    <div id="search-form" class="pull-right" style="width: 100%">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.FilterModel.Query, new { id = "search-input", @class = "form-control", placeholder = "Пошук запитів за автором, змістом, до кого..." })
                                <span class="input-group-btn">
                                    <button style="color: white;" id="search-submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><ul class="pagination" style="margin-top: 0"></ul></div>
                <div class="col-md-12"><p><b>Усього запитів: @Model.Count</b></p></div>
            </div>
        </div>

        @foreach (var inqury in @Model.Inquries)
        {
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="row">
                        <div class="col-xs-6 clearfix">
                            <div class="pull-left">
                                <a href="@Url.Action("Inqury", new {inquryId = inqury.Id})"><b>Запит @inqury.RequestNumber від @inqury.DateRaw</b></a>
                            </div>
                        </div>
                        <div class="col-xs-6 clearfix">
                            <div class="pull-right">
                                <span class="label @(inqury.InquryAnswers.Any() ? "label-success" : "label-warning")">@(inqury.InquryAnswers.Any() ? "Виконано" : "Розглядається") </span>
                            </div>
                            <div class="pull-right">
                                <span class="label label-info">@inqury.Session сесія </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b> Автор: </b> <a href="@Url.Action("Deputy", "Home", new {deputyId = inqury.AuthorId})">@inqury.Author</a></p>


                    @if (inqury.Coauthors.Any())
                    {
                        <p>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b> Спiвавтори: </b>
                            @for (var i = 0; i < inqury.Coauthors.Count; i++)
                            {
                                <a href="@Url.Action("Deputy", "Home", new {deputyId = inqury.Coauthors[i].Id})">@inqury.Coauthors[i].Name</a>@(i != inqury.Coauthors.Count - 1 ? ", " : "")
                            }
                        </p>
                    }
                    <p><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <b>До кого: </b>@inqury.Destination</p>
                    <p><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> <b>Проблематика: </b>@inqury.Problem</p>
                    <p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <b>Тип запиту: </b> @(inqury.CoauthorIds.Any() ? "Колективний" : "Індивідуальний") </p>
                    <p><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span> <b>Зміст запиту: </b> @inqury.Body </p>
                </div>
            </div>
        }
        <ul class="pagination" id="pagination"></ul>
    </div>
</div>

<script>
    $(document).on("keypress", "#search-form", function (event) {
        if (event.keyCode === 13) {
            var host = location.protocol + '//' + location.host;
            var query = $('#search-input').val();
            window.location.href = host + '/Home/Filter?' + filterQueryString() + "query=" + query;
        }
    });

    function filterQueryString() {
        var queryString = '';
        var groups = $('#filter-form .list-group-item[id]');
        // session
        var checkedSessions = $(groups[0]).find('input:checked');
        if (checkedSessions.length !== 0) {
            checkedSessions.each(function (index) {
                queryString += 's=' + $($(checkedSessions[index]).siblings()[0]).val() + '&';
            });
        }

        // done
        var doneDiv = $(groups[1]).find('.checkbox')[0];
        var done = $(doneDiv).find('input:checked');
        if (done.length != 0) {
            queryString += 'done=true&';
        }

        // proc
        var procDiv = $(groups[1]).find('.checkbox')[1];
        var proc = $(procDiv).find('input:checked');
        if (proc.length != 0) {
            queryString += 'proc=true&';
        }

        // ind
        var indDiv = $(groups[2]).find('.checkbox')[0];
        var ind = $(indDiv).find('input:checked');
        if (ind.length != 0) {
            queryString += 'ind=true&';
        }

        // col
        var colDiv = $(groups[2]).find('.checkbox')[1];
        var col = $(colDiv).find('input:checked');
        if (col.length != 0) {
            queryString += 'col=true&';
        }

        // fractions
        var checkedFractions = $(groups[3]).find('input:checked');
        if (checkedFractions.length !== 0) {
            checkedFractions.each(function (index) {
                queryString += 'f=' + $($(checkedFractions[index]).siblings()[0]).val() + '&';
            });
        }

        // problem
        var checkedProblems = $(groups[4]).find('input:checked');
        if (checkedProblems.length !== 0) {
            checkedProblems.each(function (index) {
                queryString += 'p=' + $($(checkedProblems[index]).siblings()[0]).val() + '&';
            });
        }

        return queryString;
    }

    $(function () {
        var host = location.protocol + '//' + location.host;

        if (window.location.href.toLowerCase().indexOf("filter") >= 0) {
            var orderLink = $('#sort').find('a');
            var asc = orderLink.attr('href').indexOf("True") >= 0;
            orderLink.attr('href', host + '/Home/Filter?' + filterQueryString() + 'Asc=' + asc);
        }

        $('#filter-submit').on('click',
            function () {
                window.location.href = host + '/Home/Filter?' + filterQueryString();
            });

        $('#search-submit').on('click',
            function () {
                var query = $('#search-input').val();
                window.location.href = host + '/Home/Filter?' + filterQueryString() + "query=" + query;
            });


        window.pagObj = $('.pagination').twbsPagination({
            totalPages: +'@Model.PagingModel.Total',
            visiblePages: 5,
            startPage: +'@Model.PagingModel.Current',
            onPageClick: function (event, page) {
                console.info(page + ' (from options)');
            }
        }).on('page', function (event, page) {
            window.location.href = updateQueryStringParameter(window.location.href, 'page', page);
        });
    });

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }
</script>
